/* custom fonts  */
@font-face {
  font-family: Integral;
  src: url("/IntegralCF-ExtraBold.otf");
}
@font-face {
  font-family: Integral-Bold;
  src: url("/IntegralCF-Bold.otf");
}

.container {
  background-color: #f4f4f4;
  scroll-behavior: smooth;
  padding: 0%;
}

/* hero styling */
.hero {
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  border-bottom: 2.4px solid #000000;
}
.hero h1 {
  font-weight: 800;
  font-family: Integral;
  font-size: 120px;
  letter-spacing: 3.5px;
  line-height: 90%;
  color: #050505;
}
.hero p {
  position: absolute;
  top: 645px;
  left: 2vw;
  width: 286px;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #000000;
}
.hero div {
  width: 500px;
  position: absolute;
  top: 560px;
  right: max(-180px, -14vw);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #050505;
  transform: rotate(-90deg);
}
.hero img {
  margin-right: 24px;
  width: 48px;
  height: 24px;
}

/* 1 */
.imgContainer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fedcf4;
  border-bottom: 2.4px solid #000000;
}
.imgContainer img {
  padding-top: 12vh;
  padding-bottom: 12vh;
  width: min(80%, 1310px);
  height: auto;
  object-fit: cover;
}

/* 2 */
.info {
  width: 100%;
  height: 742px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2.4px solid #000000;
}
.info1,
.info2 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24vh;
}
.info1 {
  border-right: 2.4px solid #000000;
}
.info h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-size: 54px;
  line-height: 120%;
}
.info p {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  margin-top: 34px;
}

/* about styling */
.aboutContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90vh;
  padding: 2vh 18vw;
  justify-content: center;
}
.aboutnav {
  margin-top: -12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aboutnav img {
  height: 10vh;
  width: auto;
}
.aboutContainer h1 {
  font-family: Integral;
  font-size: 54px;
  text-align: left;
  margin-top: 12vh;
}
.aboutContainer p {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  margin-top: 4vh;
  font-size: min(1.8vw, 16px);
  text-align: left;
}

@media (max-width: 1024px) {
  /* hero styling */
  .hero {
    height: 90vh;
    width: 100%;
    flex-direction: column;
  }
  .hero h1 {
    font-size: min(60px, 12vw);
    width: 360px;
    text-align: center;
  }
  .hero p {
    top: 72vh;
    width: 50%;
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #000000;
  }
  .hero div {
    width: 50vh;
    top: 70vh;
    right: -45vw;
    font-size: 14px;
  }
  .info {
    height: 100vh;
    flex-direction: column;
  }
  .info1,
  .info2 {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12vw;
  }
  .info1 {
    border-right: none;
    border-bottom: 2.4px solid #000000;
  }
  .info h1 {
    font-size: 32px;
    line-height: 120%;
  }
  .info p {
    font-size: 20px;
    line-height: 35px;
    margin-top: 12px;
  }

  .aboutnav img {
    height: 7.2vh;
  }
  .aboutContainer h1 {
    font-size: 42px;
  }
  .aboutContainer p {
    font-size: 14px;
  }
}
