/* custom fonts  */
@font-face {
  font-family: Basement;
  src: url("/font-basement.otf");
}
@font-face {
  font-family: Integral-Bold;
  src: url("/IntegralCF-Bold.otf");
}
@font-face {
  font-family: PlayFair;
  src: url("/PlayfairDisplay.ttf");
}

.mainText {
  font-family: PlayFair, sans-serif;
  font-size: 90px;
  font-weight: 600;
  line-height: 100%;
  color: #050505;
}
.mainText i {
  color: #0000ff;
  font-weight: 1000;
}

/* hero styling */
.hero {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #000000;
}
.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.right {
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.hero nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  background-color: #333333;
  padding: 12px 50px;
  margin-bottom: 50px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.5);
}
.herobg {
  position: absolute;
  width: 100%;
  height: 900px;
  object-fit: cover;
  z-index: -1;
}
.hero h1 {
  font-family: PlayFair, sans-serif;
  font-size: 90px;
  font-weight: 600;
  line-height: 100%;
  color: #ffffff;
  text-align: center;

  font-weight: 1000;
}
.hero span {
  color: #0000ff;
}
.hero h2 {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: min(24px, 1.6vw);
  width: 50%;
  text-align: center;
  color: #ffffff  ;
}

/* QR */
.QR {
  /* width: 120px; */
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  /* background-color: #33FF99; */
}
.QR div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 92px;
  height: 92px;
  background-color: #f2f2f2;
  border: #050505 solid 2px;
  padding: 4px;
}
.QR div img {
  width: 100%;
  height: 100%;
}
.QR p {
  margin-left: 12px;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #050505;
}
.Playstore {
  display: none;
}

/* 2 */
.dummy {
  height: 100%;
  width: 1px;
  background-color: #f9f9f9;
}
.info {
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #050505;
}
.info1,
.info2 {
  width: 450px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-size: min(4.2vw, 54px);
  line-height: 120%;
  color: #f9f9f9;
  width: 100%;
}
.info i {
  font-family: "PlayFair", sans-serif;
  font-weight: 800;
  font-size: min(4.2vw, 54px);
  line-height: 120%;
  color: #0000ff;
  text-align: left;
  width: 100%;
}
.info p {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  margin-top: 34px;
  color: #f9f9f9;
  width: 100%;
}
.info span {
  font-family: "PlayFair", sans-serif;
  font-weight: 800;
  font-size: min(4.2vw, 54px);
  line-height: 120%;
  color: #0000ff;
  text-align: left;
  width: 100%;
}

/* mockup styling */
.mockupbg {
  position: absolute;
  width: 100%;
  height: 90vh;
  object-fit: cover;
  z-index: -1;
}
.mockups {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.mockups Img {
  height: 100%;
  object-fit: cover;
}
.mockup1, .mockup2 {
  width: 50vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  padding: 6vw 8vw;
}
.mockup1 h1,
.mockup2 h1 {
  font-family: "Basement", sans-serif;
  font-size: min(4.2vw, 32px);
}
.mockup1 p,
.mockup2 p {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 16px;
  width: 14vw;
}

/* features */
.featuresbg {
  position: absolute;
  width: 100%;
  height: 90vh;
  object-fit: cover;
  z-index: -1;
}
.features {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10vw;
}
.featuresTop {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.featuresTop div {
  width: 20vw;
  height: 35vh;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: space-around;
  background-color: #000000;
  border: 0.5px solid #141414;
  padding: 4vw;
}
.featuresTop div h1 {
  font-family: "PlayFair", sans-serif;
  font-weight: 1000;
  font-size: 32px;
  color: #f9f9f9;
}
.featuresTop div img{
  width: 100%;
  object-fit: cover;
  /* height: auto; */
}

/* about styling */
.aboutContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 2vh 18vw;
  justify-content: center;
}
.aboutnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aboutnav img {
  height: 10vh;
  width: auto;
}
.button, .button2 {
  padding: 12px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: #333333;
  border-width: 1px;
  border-radius: 100px;

  background-color: #f9f9f9;

  font-weight: 600;
  font-size: 16px;
  color: #050505;
}

.aboutContainer h1 {
  font-family: Integral;
  font-size: 54px;
  letter-spacing: 0.2px;
  margin-top: 82px;
  margin-bottom: 34px;
}
.aboutContainer p {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  margin-bottom: 54px;
}

@media (max-width: 1024px) {
  .hero nav {
    justify-content: center;
    padding: 1vh 0vw;
  }
  .button{
    display: none;
  }
  .hero h1{
    font-size: 12vw;
  }
  .hero h2 {
    width: 100%;
    font-size: 24px;
  }

  .dummy{
    display: none;
  }
  .info {
    flex-direction: column;
  }
  .info1 {
    border: #141414 solid 1px;
  }
  .info1, .info2 {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10vw 8vw;
  }
  .info h1 {
    font-size: 42px;
  }
  .info i {
    width: 100%;
    font-size: 42px;
    text-align: left;
  }
  .info p {
    font-size: 16px;
    line-height: normal;
  }

  .mockupbg {
    display: none;
  }
  .mockups {
    height: auto;
    flex-direction: column;
  }
  .mockup1, .mockup2 {
    width: 100%;
    padding: 8vw 10vw;
    height: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mockup2 {
    flex-direction: column-reverse;
  }
  .mockup1 h1, .mockup2 h1 {
    text-align: center;
    font-size: 32px;
  }
  .mockup1 p, .mockup2 p {
    text-align: center;
    width: 100%;
    font-size: 16px;
    margin-bottom: 4vh;
  }

  .features{
    width: 100%;
    height: auto;
    background-color: #050505;
  }
  .featuresbg {
    display: none;
}
  .featuresTop {
    width: 100%;
    flex-direction: column;
  }
  .featuresTop div {
    width: 100%;
    padding: 8vw;
  }

  

}
