/* custom fonts  */
@font-face {
  font-family: Integral;
  src: url("/font-basement.otf");
}
@font-face {
  font-family: Integral-Bold;
  src: url("/IntegralCF-Bold.otf");
}

/* hero styling */
.hero {
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  border-bottom: 1px solid #f9f9f9;
}
.hero div {
  width: 50vw;  
  height: 900px;
}
.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.right {
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.right nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
}
.hero h1 {
  font-family: Integral;
  font-size: 60px;
  width: 80%;
  line-height: 120%;
  color: #050505;
}
.hero h2 {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 24px;
  width: 90%;
  color: #000000;
}

/* 2 */
.dummy {
  height: 100%;
  width: 1px;
  background-color: #f9f9f9;
}
.info {
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #050505;
}
.info1,
.info2 {
  width: 450px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-size: min(4.2vw, 42px);
  line-height: 120%;
  color: #f9f9f9;
}
.info p {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  margin-top: 34px;
  color: #f9f9f9;
}

/* features styling */
.features {
  width: 100%;
  height: 850px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 2.4px solid #050505;
}
.F1,.F2,.F3 {
  width: 33.3333%;
  height: 850px;
  border-right: 2px solid #050505;
}
.F1 {
  background: #33FF99;
}
.F2 {
  background: #FFEE33;
}
.F3 {
  background: #FF33FE;
}
.text {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 50px;
  border-bottom: 1px solid #050505;
}
.text h1 {
  font-family: Integral;
  text-align: center;
  font-weight: 800;
  font-size: 32px;
  color: #050505;
}
.text p {
  font-family: "Outfit", sans-serif;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  width: min(100%, 400px);
  color: #050505;
}
.img {
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px;
}

/* about styling */
.aboutContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 2vh 18vw;
  justify-content: center;
}
.aboutnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aboutnav img {
  height: 10vh;
  width: auto;
}
.button {
  width: 140px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #050505;
  border-radius: 100px;

  font-weight: 600;
  font-size: 16px;
  color: #f9f9f9;
}
.aboutContainer h1 {
  font-family: Integral;
  font-size: 54px;
  letter-spacing: 0.2px;
  margin-top: 82px;
  margin-bottom: 34px;
}
.aboutContainer p {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  margin-bottom: 54px;
}

@media (max-width: 1024px) {
  /* hero styling */
  .hero {
    height: 80vh;
    width: 100%;
    flex-direction: column;
  }
  .right nav {
    height: 12vh;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0px;
  }
  .right nav a {
    display: none;
  }
  .right {
    /* width: 100vw; */
    align-items: center;
    padding: 0px;
    padding-bottom: 6vh;
  }
  .left {
    display: none;
  }
  .hero img {
    display: none;
  }
  .hero h1 {
    font-size: 42px;
    width: 90vw;
    text-align: center;
  }
  .hero h2 {
    font-size: 20px;
    width: 90vw;
    text-align: center;
  }

  .info {
    height: 90vh;
    flex-direction: column; 
  }
  .dummy {
    display: none;
  }
  .info1 {
    border-bottom: 1px solid #f9f9f9;
  }
  .info1,
  .info2 {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10vw;
  }
  .info h1 {
    font-size: 36px;
  }
  .info p {
    font-size: 20px;
  }

  .aboutContainer {
    height: auto;
  }
  .aboutContainer h1 {
    line-height: normal;
    margin: 24px 0;
  }

  /* features */
  .features {
    width: 100vw;
    height: 180vh;
    flex-direction: column;
    background-color: #000000;
  }
  .F1,.F2,.F3 {
    width: 90%;
    height: 54vh;
    border: solid 1px #050505;
  }
  .text {
    padding: 20px 40px;
  }
  .text h1 {
    font-size: 24px;
  }
  .text p {
    font-size: 16px;
  }
  .img {
    padding: 20vw;
  }
}
