/* custom fonts  */
@font-face {
  font-family: Integral;
  src: url("/IntegralCF-ExtraBold.otf");
}
@font-face {
  font-family: Integral-Bold;
  src: url("/IntegralCF-Bold.otf");
}

/* navbar styling */
.navBar {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #fafafa; */
  height: 8vh;
  width: 100vw;
  font-family: Outfit, sans-serif;
}
.logo {
  width: 60%;
}
.logo a img {
  height: 3vh;
  width: 4vw;
}
.navList {
  width: min(80%, 1920px);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navList li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  width: min(12vw, 120px);
  height: 100%;
  /* background-color: #dfdfdf; */
}
.navList li a {
  text-decoration: none;
  font-weight: 500;
  color: #000000;
  font-size: min(1.2vw, 16px);
}
.navList li a:hover {
  color: #fa63ce;
}

/* button styling */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.4vh;
  width: min(20vw, 200px);
  border-radius: 14px;
  background-color: #30343c;
  text-decoration: none;
}
.btn :hover {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.4vh;
  width: min(20vw, 200px);
  border-radius: 14px;
  text-decoration: none;
  background-color: #fa63ce;
}
.btntxt {
  font-weight: 700;
  color: #fcfcfc;
  font-size: min(1.2vw, 14px);
  text-decoration: none;
}
.btn div {
  position: absolute;
  z-index: -1;
  margin-top: 6px;
  margin-left: 7.2px;
  height: 5vh;
  width: min(20vw, 200px);
  border-radius: 14px;
  outline-color: #fa63ce;
  outline-style: solid;
  outline-width: 1px;
}

/* hero styling */
.hero {
  width: 100vw;
  height: 82vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  margin: auto;
  display: flex;
  /* background-color: antiquewhite; */
  height: 32%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.hero h1 {
  font-weight: 800;
  font-family: Integral;
  font-size: min(5.4vw, 72px);
  letter-spacing: 3.5px;
  color: #232730;
  text-align: center;
}
.hero p {
  width: 72%;
  font-weight: 300;
  font-family: "Outfit", sans-serif;
  font-size: min(1.8vw, 24px);
  text-align: center;
}
.heroimg {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 90vh;
}

/* sub hero styling */
.subhero {
  height: min(92vh, 640px);
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alt {
  background-color: #fafafa;
}
.subheroleft {
  display: flex;
  height: 32%;
  flex-direction: column;
  justify-content: space-between;
}
.subheroleft h1 {
  z-index: 2;
  margin-top: 0%;
  font-family: Integral-Bold;
  line-height: 90%;
  font-size: min(4.2vw, 64px);
  letter-spacing: 4px;
  width: min(30vw, 500px);
  color: #181a20;
}
.subheroleft h2 {
  position: absolute;
  z-index: 1;
  margin-top: 3px;
  margin-left: 3px;
  font-family: Integral-Bold;
  line-height: 90%;
  font-size: min(4.2vw, 64px);
  letter-spacing: 4px;
  color: #ffffff;
  width: min(30vw, 500px);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fa63ce;
}
.subheroleft h3 {
  font-size: 20px;
  line-height: 140%;
  font-weight: normal;
  font-family: "Outfit", sans-serif;
  max-width: 420px;
}
.subheroimg {
  height: auto;
  width: min(50%, 500px);
}

/* lottie styling */
.lottie {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.animation {
  height: 64vh;
}
.iphone {
  position: absolute;
  height: 64vh;
}
.background {
  z-index: -1;
  object-fit: contain;
  position: absolute;
  height: 72vh;
  width: 100vw;
}

@media (max-width: 1024px) {
  .navbar {
    width: 100vw;
  }
  .navList {
    width: 100%;
    padding: 0;
  }
  .navList li {
    display: none;
  }
  .logo {
    width: auto;
    margin: auto;
  }

  /* hero styling */
  .hero {
    height: 72vh;
  }
  .heroimg {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
  }
  .hero h1 {
    font-size: min(60px, 12vw);
    width: 360px;
  }
  .hero p {
    font-size: 12px;
  }
  /* button  */
  .btn {
    width: 32vw;
    height: 34px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #30343c;
    text-decoration: none;
  }
  .btn div {
    width: 32vw;
    height: 34px;
    border-radius: 6px;
  }
  .btntxt {
    font-weight: 600;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: min(4vw, 10px);
    text-decoration: none;
  }
  /* subher styling */
  .subhero {
    height: min(52vh, 500px);
    padding: 60px 90px;
  }
  .subhero h1 {
    font-size: min(42px, 7vw);
    width: 50vw;
  }
  .subhero h2 {
    font-size: min(42px, 7vw);
    width: 50vw;
    margin-top: 2px;
  }
  .subheroleft {
    height: 50%;
  }
  .subhero h3 {
    font-size: 12px;
  }
  .subhero p {
    display: none;
  }
  .subhero img {
    height: auto;
    width: 50vw;
  }

  /* lottie styling  */
  .lottie {
    background-color: #ffffff;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .animation {
    z-index: 2;
    height: 64vh;
  }
  .iphone {
    z-index: 3;
    position: absolute;
    height: 64vh;
  }
  .background {
    z-index: 1;
    object-fit: contain;
    position: absolute;
    height: 50vh;
    width: auto;
  }
}
