/* navbar styling */
.navBar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  height: 8vh;
  width: 100vw;
}
.logo {
  width: 60%;
  background-color: aqua;
}
.logo a img {
  height: 3vh;
  width: 4vw;
}
.navList {
  width: min(80%, 1920px);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navList li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  width: min(12vw, 120px);
  height: 100%;
  /* background-color: #dfdfdf; */
}
.navList li a {
  text-decoration: none;
  font-weight: 500;
  color: #000000;
  font-size: min(1.2vw, 16px);
}
.navList li a:hover {
  color: #fa63ce;
}

/* button styling */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.4vh;
  width: min(20vw, 200px);
  border-radius: 14px;
  background-color: #30343c;
  text-decoration: none;
}
.btn :hover {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.4vh;
  width: min(20vw, 200px);
  border-radius: 14px;
  text-decoration: none;
  background-color: #fa63ce;
}
.btntxt {
  font-weight: 700;
  color: #fcfcfc;
  font-size: min(1.2vw, 14px);
  text-decoration: none;
}
.btn div {
  position: absolute;
  z-index: -1;
  margin-top: 6px;
  margin-left: 7.2px;
  height: 5.4vh;
  width: min(20vw, 200px);
  border-radius: 14px;
  outline-color: #fa63ce;
  outline-style: solid;
  outline-width: 1px;
}

/* hero styling */
.hero {
  width: 100vw;
  height: 82vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  margin: auto;
  display: flex;
  /* background-color: antiquewhite; */
  height: 32%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.hero h1 {
  font-weight: 800;
  font-family: Integral;
  font-size: min(5.4vw, 72px);
  letter-spacing: 3.5px;
  color: #232730;
  text-align: center;
}
.hero p {
  width: 72%;
  font-weight: 300;
  font-family: "Outfit", sans-serif;
  font-size: min(1.8vw, 24px);
  text-align: center;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
