/* custom fonts  */
@font-face {
  font-family: Integral;
  src: url("/IntegralCF-ExtraBold.otf");
}
@font-face {
  font-family: Integral-Bold;
  src: url("/IntegralCF-Bold.otf");
}

.container {
  background-color: #101214;
}

/* navbar styling */
.navBar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0e0f11;
  height: 8vh;
  width: 100vw;
  font-family: Outfit, sans-serif;
}
.logo {
  width: 60%;
}
.logo a img {
  height: 3vh;
  width: 4vw;
}
.navList {
  z-index: 10;
  width: min(80%, 1920px);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navList li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  width: min(12vw, 120px);
  height: 100%;
}
.navList li a {
  text-decoration: none;
  font-weight: 500;
  color: #ffffff;
  font-size: min(1.2vw, 16px);
}
.navList li a:hover {
  color: #fa63ce;
}

/* button styling */
.btncontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: min(80%, 500px);
}
.learnmore {
  font-weight: 400;
  color: #c6c6c6;
  font-size: min(1.4 vw, 16px);
  text-decoration: none;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #101214;

  height: 5.4vh;
  width: min(20vw, 150px);
  border-radius: 0.5vw;

  text-decoration: none;
  font-weight: 600;
  color: #ffffff;
  font-size: min(1.4 vw, 16px);
  text-decoration: none;

  border-color: #ffffff;
  border-width: 2px;

  transition: transform 0.3s ease;
}
.btn :hover {
  background-color: #ffffff;
  color: #101214;
}

/* hero styling */
.hero {
  width: 100vw;
  height: 82vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #101214;
}
.content {
  margin: auto;
  display: flex;
  height: 40%;
  width: 72%;
  /* background-color: aliceblue; */
  flex-direction: column;
  justify-content: space-between;
}
.hero h1 {
  font-weight: 800;
  font-family: Integral;
  font-size: min(5.4vw, 72px);
  letter-spacing: 3.5px;
  line-height: 90%;
  color: #101214;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
}
.hero h2 {
  font-weight: 800;
  font-family: Integral;
  font-size: min(5.4vw, 72px);
  letter-spacing: 3.5px;
  line-height: 90%;
  color: #ffffff;
}
.hero p {
  width: 72%;
  font-weight: 300;
  font-family: "Outfit", sans-serif;
  font-size: min(1.8vw, 24px);
  color: #c6c6c6;
}

/* sub hero styling */
.subhero {
  height: min(92vh, 640px);
  width: min(100vw, 1920px);
  margin: auto;
  background-color: #101214;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alt {
  background-color: #fafafa;
}
.subheroleft {
  display: flex;
  height: 32%;
  flex-direction: column;
  justify-content: space-between;
}
.subheroleft h1 {
  z-index: 2;
  margin-top: 0%;
  font-family: Integral-Bold;
  line-height: 90%;
  font-size: min(4.2vw, 64px);
  letter-spacing: 4px;
  width: min(30vw, 500px);
  color: #fafafa;
}
.subheroleft h2 {
  position: absolute;
  z-index: 1;
  margin-top: 3px;
  margin-left: 3px;
  font-family: Integral-Bold;
  line-height: 90%;
  font-size: min(4.2vw, 64px);
  letter-spacing: 4px;
  color: #101214;
  width: min(30vw, 500px);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fa63ce;
}
.subheroleft h3 {
  font-size: 20px;
  line-height: 140%;
  font-weight: normal;
  font-family: "Outfit", sans-serif;
  max-width: 420px;
  color: #c6c6c6;
}
.subheroimg {
  height: auto;
  width: min(50%, 500px);
}

/* lottie styling */
.lottie {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121417;
}
.iphone {
  position: absolute;
  height: 64vh;
  z-index: 2;
}
.background {
  z-index: 1;
  object-fit: contain;
  position: absolute;
  height: 72vh;
  width: 100vw;
}

@media (max-width: 1024px) {
  .navbar {
    width: 100vw;
  }
  .navList {
    width: 100%;
    padding: 0;
  }
  .navList li {
    display: none;
  }
  .logo {
    width: auto;
    margin: auto;
  }

  /* hero styling */
  .hero {
    height: 72vh;
  }
  .content {
    align-items: center;
  }
  .hero h1 {
    font-size: min(60px, 12vw);
    width: 360px;
    text-align: center;
  }
  .hero h2 {
    font-size: min(60px, 12vw);
    width: 360px;
    text-align: center;
  }
  .hero p {
    font-size: min(4.2vw, 42px);
    text-align: center;
    width: 100%;
  }
  /* button  */
  .btn {
    margin: auto;
    border-radius: 6px;
    width: min(32vw, 154px);
    height: 42px;
  }
  .learnmore {
    display: none;
  }

  /* subher styling */
  .subhero {
    height: min(52vh, 500px);
    padding: 60px 90px;
  }
  .subhero h1 {
    font-size: min(42px, 7vw);
    width: 50vw;
  }
  .subhero h2 {
    font-size: min(42px, 7vw);
    width: 50vw;
    margin-top: 2px;
  }
  .subheroleft {
    height: 50%;
    width: 47vw;
  }
  .subhero h3 {
    font-size: 12px;
    height: min(50vh, 86px);
  }
  .subhero p {
    display: none;
  }
  .subhero img {
    height: auto;
    width: 45vw;
  }

  /* lottie styling  */
  .lottie {
    height: 80vh;
  }
  .iphone {
    z-index: 3;
    position: absolute;
    height: 64vh;
  }
  .background {
    z-index: 1;
    object-fit: contain;
    position: absolute;
    height: 50vh;
    width: auto;
  }
}
