.container {
  height: 742px;
  width: 100%;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12vh;
}
.mockup {
  width: calc(50% + 3.2px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e1f2fe;
  border-left: 2.4px solid #000000;
}
.container h1 {
  width: 100%;
  font-family: Integral;
  font-weight: 600;
  font-size: 54px;
  line-height: 69px;
  letter-spacing: 3.5px;
  color: #050505;
}
.container p {
  width: 74%;
  margin-top: 20px;
  color: #050505;
  font-weight: 300;
  font-family: "Outfit", sans-serif;
  font-weight: 200;
  font-size: 20px;
  line-height: 25px;
}

/* inline-flex mt-10 w-full  lg:mt-0 */
.span {
  display: inline-flex;
  width: 100%;
  margin-top: 40px;
}
.input {
  width: 84%;
  height: 84px;
  background: #ffffff;
  border-radius: 6px 0px 0px 6px;
  padding: 2vw;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}
.button {
  width: 16%;
  height: 84px;
  background: #e1f2fe;
  border-radius: 0px 6px 6px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .container {
    height: 100vh;
    flex-direction: column;
  }
  .left {
    width: 100%;
    height: 30%;
    padding: 10vw;
  }
  .mockup {
    width: 100%;
    height: 70%;
    border-left: none;
  }
  .mockup img {
    width: auto;
    height: 80%;
  }
  .container h1 {
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: normal;
  }
  .container p {
    width: 100%;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: normal;
    margin-top: 4px;
  }
  .span {
    margin-top: 8px;
  }
  .input {
    height: 48px;
    font-size: 14px;
    padding: 4vw;
    line-height: auto;
  }
  .button {
    height: 48px;
    padding: 4vw;
  }
}
