.container {
  height: 742px;
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 12vh 10vw;
}
.mockup {
  width: calc(50% + 3.2px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FF33FE;
  border-left: 2.4px solid #000000;
}
.container h1 {
  width: 100%;
  font-family: Integral;
  font-weight: 600;
  font-size: 54px;
  line-height: 69px;
  letter-spacing: 1px;
  color: #050505;
}
.container p {
  width: 74%;
  margin-top: 20px;
  color: #050505;
  font-weight: 300;
  font-family: "Outfit", sans-serif;
  font-weight: 200;
  font-size: 20px;
  line-height: 25px;
}

/* inline-flex mt-10 w-full  lg:mt-0 */
.span {
  width: 100%;
  display: inline-flex;
  margin-top: 40px;
}
.input {
  width: 600px;
  height: 100px;
  background: #ffffff;
  border-radius: 6px 0px 0px 6px;
  padding: 2vw;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}
.button {
  width: 100px;
  height: 100px;
  background: #33A9FF;
  border-radius: 0px 6px 6px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

@media (max-width: 1024px) {
  .container {
    height: 900px;
    flex-direction: column-reverse;
  }
  .left {
    width: 100%;
    height: 50%;
    padding: 10vw;
  }
  .mockup {
    width: 100%;
    height: 50%;
    border-left: none;
  }
  .mockup img {
    width: auto;
    height: 80%;
  }
  .container h1 {
    font-size: 32px;
    letter-spacing: normal;
  }
  .container p {
    width: 100%;
    font-size: 18px;
    line-height: normal;
    margin-top: 4px;
  }
  .span {
    margin-top: 40px;
  }
  .input {
    height: 54px;
    font-size: 14px;
    padding: 4vw;
    line-height: auto;
  }
  .button {
    height: 54px;
    padding: 4vw;
  }
}
