.container {
  height: 742px;
  width: 100%;
  background-color: #101214;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 12vh 10vw;
}
.mockup {
  width: calc(50% + 3.2px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9833FF;
  border-left: 2.4px solid #000000;
}
.container h1 {
  width: 100%;
  font-family: "Playfair", serif;
  font-weight: 1000;
  font-size: 54px;
  line-height: 69px;
  color: #ffffff;
}
.container p {
  width: 74%;
  margin-top: 20px;
  color: #ffffff;
  font-weight: 300;
  font-family: "Outfit", sans-serif;
  font-weight: 200;
  font-size: 20px;
  line-height: 25px;
}

/* inline-flex mt-10 w-full  lg:mt-0 */
.download {
  display: flex;
  margin-top: 40px;
  width: 100%;
}
.download div {
  width: 4vw;
  height: 4vw;
  background: #ffffff;
  margin-right: 2vw;
  padding: 4px;
  border-radius: 4px;
}

.download a {
  width: 4vw;
  height: 4vw;
  background: #ffffff;
  margin-right: 2vw;
  padding: 16px;
  border-radius: 4px;
}
.download img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1024px) {
  .mockup {
    display: none;
  }
  .left {
    width: 100%;
    height: 100%;
  }
  .download div {
    width: 20vw;
    height: 20vw;
  }
  .download a {
    width: 20vw;
    height: 20vw;
  }
}
