.container {
  height: 72vh;
  width: 100%;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container h1 {
  font-weight: 800;
  font-family: Integral;
  font-size: min(5.4vw, 72px);
  letter-spacing: 3.5px;
  color: #050505;
  text-align: center;
}
.container p {
  color: #050505;
  opacity: 0.8;
  width: 30%;
  font-weight: 300;
  font-family: "Outfit", sans-serif;
  font-size: min(1.6vw, 20px);
  text-align: center;
}

.cta {
  width: min(72%, 720px);
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;

  @apply mt-5;
}
.cta input {
  width: 100%;
  height: 100%;
  padding: 24px;
  font-size: min(1.8vw, 18px);
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  /* border-top-left-radius: 12px; */
  /* border-bottom-left-radius: 12px; */
  background: #f2f5f8;
  /* border: none; */
}
/* .cta button {
  width: 30%;
  height: 100%;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  background: #fed1f1;
  border: none;
  font-size: min(1.8vw, 18px);
  font-family: "Outfit", sans-serif;
  font-weight: 600;
} */
.pattern {
  position: absolute;
  left: 0;
  height: 72vh;
}

@media (max-width: 1024px) {
  .container {
    height: 60vh;
    padding: 0 2vw;
  }
  .container h1 {
    font-size: min(7.2vw, 42px);
  }
  .container p {
    width: 72%;
    font-size: min(3.4vw, 24px);
  }
  .cta {
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    outline: none;
  }
  .cta input {
    font-size: min(4vw, 20px);
  }
  .cta button {
    width: 40%;
    font-weight: 800;
    font-size: min(3.2vw, 20px);
  }
  .pattern {
    display: none;
  }
}
