@font-face {
  font-family: Integral;
  src: url("/IntegralCF-ExtraBold.otf");
}

/* page */
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 4vh 18vw;
  margin-top: 6vh;
  justify-content: center;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav img {
  height: 10vh;
  width: auto;
}
.container h1 {
  font-family: "Outfit";
  font-weight: 500;
  font-size: 54px;
  letter-spacing: 0.2px;
  margin-top: 82px;
}
.button {
  width: 140px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.2px solid #0a0a0a;
  border-radius: 100px;

  font-weight: 400;
  font-size: 16px;
  color: #0a0a0a;
}
.button:hover {
  background: #0a0a0a;
  color: #fafafa;
}

/* member */
.teamContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 18vw;
}
.memberContainer {
  display: flex;
  flex-direction: column;
  width: min(30%, 300px);
  justify-content: center;
}
.memberSub {
  margin-top: 24px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.text h1 {
  font-family: "Outfit";
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.2px;
}
.text h2 {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.2px;
}
.memberSub a img {
  -webkit-filter: invert(100%); /* Safari/Chrome */
  filter: invert(100%);
}

.textContainer {
  padding: 2vh 18vw;
  /* height: 50vh; */
  /* background-color: aqua; */
  margin-bottom: 12vh;
}
.textContainer p {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  margin-bottom: 54px;
}

@media (max-width: 1024px) {
  .container h1 {
    line-height: normal;
    margin-top: 24px;
  }
  .teamContainer {
    width: 100%;
    flex-direction: column;
    padding: 2vh 18vw;
  }
  .memberContainer {
    width: 100%;
    margin-bottom: 4vh;
  }
}
